:root {
  --accent-color: #{$color__default-accent};
  --accent-color--hover: #{$color__default-accent--hover};
  --home-padding-offset: 20px;
  --footer-bg-min-height: 400px;
  --scroll-progress: 0;
}

@include breakpoint('large') {
  :root {
    --home-padding-offset: 50px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Fallback for when there is no custom background color defined. */
  --breakpoint: 'xsmall';
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  background: $color__background-body;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }

  @include breakpoint('xlarge') {
    --breakpoint: 'xlarge';
  }

  @include breakpoint('xlarge-2') {
    --breakpoint: 'xlarge-2';
  }
}

.js-no-scroll,
.js-no-scroll body {
  height: unset !important;
  overflow: hidden;
  touch-action: none;
}

/* Create class to allow scrolling on certain elements, like modal windows */
.allow-scroll {
  touch-action: auto !important;
}

.wrapper {
  @include structure($size__container-max-width, 'max-width');
  margin: 0 auto;
  @include structure($size__container-padding, 'padding');

  &--home {
    @include structure($size__container-max-width, 'max-width');
    margin: 0 auto;
    @include structure(
      $size__container-padding--home,
      'padding',
      ('small', 'large')
    );
  }

  &--spotlight {
    @include structure($size__container-max-width, 'max-width');
    margin: 0 auto;
    @include structure($size__container-padding, 'padding', ('small', 'large'));
  }
}

.content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color__black;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.is-active {
    visibility: visible;
    opacity: 0.25;
  }
}
